.flash-container{
  margin-top: 20px;
}

.flash-message {
  max-width:1024px;
  z-index: 3;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.error {
  color: #a94442;
background-color: #f2dede;
border-color: #ebccd1;
}
