.billboard-container {
  width: 70%;
  margin: 0 auto;
}

.billboard {
  background: #f2f2f2;
  margin-bottom: 20px;
  border-radius: 10px;
}

.billboard-informations {
  padding: 20px 20px 0 20px;
  width: 84%;
  margin: 0 auto;
}

.informations-left {
  display: inline-block;
  width: 54%;
}

.informations-right {
  display: inline-block;
  float: right;
}

.image-wrapper {
  text-align: center;
    padding: 0px 20px 10px 20px;
}

.billboard-login {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color: #365899;
  letter-spacing: 1px;
}

.image-user {
  height: 50px;
}

.billboard-date {
  color: #494949;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 16px;
}

.billboard-social {
  margin: 10px auto;
  width: 84%;
  padding-top: 5px;
  border-top: 1px solid #ccc;
  margin-bottom: 0px;
}

.billboard-social a {
  display: inline-block;
}

.social-like {
    height: 25px;
}

.social-comment {
  height: 25px;
  margin-left: 12px;
}

.comments-container {
    width: 85%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

.send-comment {
  height: 35px;
  margin-left: 2px;
}

.send-comment-btn {
  display: inline-block;
  padding: 0;
  border: 0;
  min-width: 0px;
  background: #f2f2f2;
}

.comments-container textarea{
  width: 92%;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #dad9d9;
}

.comments-container form {
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.all-comments-container h2 {
  border-left: 8px solid #d75a4a;
  padding: 10px;
}

.comment {
    border-bottom: 1px solid #ccc;
}

.comment p {
  display: inline-block;
  font-size: 20px;
}

.author {
  color: #365899;
  font-weight: bold;
  margin-right: 10px;
}

.content {
  border-left: 3px solid #365899;
  padding: 10px;
}

.billboard-social a {
  display:inline-block;
  color: #0f71d3;
}

.like_form {
  display:inline-block;
}

.count_likes {
    font-size: 17px;
    display: inline-block;
    margin: 0px;
    color: red;
    font-weight: bold;
}
